### Welcome to this Pandas-tutorial

After this tutorial you'll be more proficient using python and be able facilitate your data analysis.

Pandas is a fast, powerful, flexible and easy to use  data analysis and manipulation tool, built on top of the Python programming language. It can be seen as the Python version of Excel. Its [documentation](https://pandas.pydata.org/docs/index.html) can be helpful in further problems.

The tutorial is structured as follows:
    
    1. The pandas.Series object and the pandas.DataFrame in general
    2. Overview over data in your DataFrame
    3. Accessing data
    4. Data Manipulation
    5. Data Analysis
    6. Data Filtering
    7. Data Aggregation

### The pandas.Series object in general

pandas.Series object are equivalent to a column in an excel spreadsheet and very similar to a list or a 1D numpy.array in python, but has some additional functionality. It can be easily constructed from both of them. At first we use a list and and give the series a title with the keyword "name" for the construction.

In [83]:
import pandas as pd # Conventionally pandas gets imported with the alias pd
import numpy as np # We'll use a little bit of numpy

measurement_times = [1, 5, 10, 120]

series1 = pd.Series(measurement_times, name="time [s]")
print(series1)

# The data can be given as a positional argument at position 0 (Python starts counting at 0)
# or as a keyword-argument with the keyword 'data' at whatever position
series2 = pd.Series(name="time [s]", data=measurement_times)
print("series1 is the same as series2:", series1.equals(series2))

0      1
1      5
2     10
3    120
Name: time [s], dtype: int64
series1 is the same as series2: True

### The pandas.DataFrame object in general

DataFrames are the pandas equivalent to excel spreadsheets. A DataFrame is an object with rows and column containing data. It's formed of several Series objects In contrast to a second common data type in python, the numpy.array, it's limited to two dimensions and therefore less suitable for high-dimensional calculations. Both have their strengths and weaknesses and are easily convertible into each other.

Now we'll have a look at how to construct a simple example dataframe using 3 entries with 3 data points each:

In [84]:
entry0 = [1, 2, 3]
entry1 = [4, 5, 6]
entry2 = [7, 8, 9]

 # If given a nested list(lists within a list) or a 2D matrix as data, pandas will interpret the inner lists as row vectors
df = pd.DataFrame([entry0, entry1, entry2], columns=['a', 'b', 'c'])
print(df)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

#### Other Construction methods

A simple way to construct a dataframe with columnwise input, while defining column titels at the same time, is via a dictionary.

To construct a Dataframe from existing data in a separate file, the pandas.Series.read_csv()-method is very useful. We'll use this dataframe in the next section.

In [85]:
data_dict = { 
    "Article": ["Apple", "Pear", "Melon", "Lemon"],
    "Price": [1, 1.5, 2, 3],
    "Availability": [True, False, False, True]
}

df = pd.DataFrame(data_dict)
print(df)

molecule_df = pd.read_csv("eval_df.csv", delimiter=",")

  Article  Price  Availability
0   Apple   1.00          True
1    Pear   1.50         False
2   Melon   2.00         False
3   Lemon   3.00          True

Note, that in the first example the integer values 1, 2 and 3 were converted to floating point numbers (floats), because 1.5 is a float and the whole column needs to be the same data type. Common python data types are `string, integer, float, bool, list, tuple, dict`.

### Getting an overview over an dataframe

When starting to work with an unfamilar dataset it's very useful to get an overview of what you are dealing with. The beginning of a dataframe can be accessed with the `.head()`-method to get a grasp of the content of the dataframe. 
The name and the data type of columns can be checked with the `.columns` and the  `.dtypes` property of a dataframe.
The amount of entries in a dataframe is available with the pythons `len()` function

In [86]:
print(molecule_df.head())
print("Column names:", molecule_df.columns)
print(molecule_df.dtypes)
print("Amount of entries:", len(molecule_df))

   mol_idxs  at_idxs  energies  charges  charge_predictions
0         0        0      0.14    -0.10               -0.08
1         0        1      0.14    -0.08               -0.17
2         0        2      0.14     0.00                0.01
3         0        3      0.14    -0.01               -0.01
4         0        4      0.14    -0.00                0.00
Column names: Index(['mol_idxs', 'at_idxs', 'energies', 'charges', 'charge_predictions'], dtype='object')
mol_idxs                int64
at_idxs                 int64
energies              float64
charges               float64
charge_predictions    float64
dtype: object
Amount of entries: 203220

Another common interest is, which unique values occur in a dataframe, how many unqique values there are and how often each unqique value occurs. These properties of a dataframe can be investigated with the `unique()`, `nunique()` and the `value_counts`-method for serieses.

In [87]:
print("Unique atom indices:", molecule_df["at_idxs"].unique()) 
print("Amount of unique molecule indices:", molecule_df["mol_idxs"].nunique())
print("Values counts of atom indices:")
print(molecule_df["at_idxs"].value_counts())

print("Amount of unqiue energies:", molecule_df["energies"].nunique())
print("Amount of unqiue charges:", molecule_df["charges"].nunique())

Unique atom indices: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
Amount of unique molecule indices: 13548
Values counts of atom indices:
0     13548
1     13548
2     13548
3     13548
4     13548
5     13548
6     13548
7     13548
8     13548
9     13548
10    13548
11    13548
12    13548
13    13548
14    13548
Name: at_idxs, dtype: int64
Amount of unqiue energies: 13548
Amount of unqiue charges: 115841

Good overviews of a dataframe over multiple properties and statistics at once are given by the `.info()` and the `.describe()` methods.

In [88]:
molecule_df.info()
print("\n\n")
print(molecule_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203220 entries, 0 to 203219
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   mol_idxs            203220 non-null  int64
 1   at_idxs             203220 non-null  int64
 2   energies            203220 non-null  float64
 3   charges             203220 non-null  float64
 4   charge_predictions  203220 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 7.8 MB



        mol_idxs    at_idxs   energies    charges  charge_predictions
count 203,220.00 203,220.00 203,220.00 203,220.00          203,220.00
mean    6,773.50       7.00       0.02      -0.07               -0.07
std     3,910.98       4.32       0.02       0.16                0.15
min         0.00       0.00      -0.02      -0.83               -0.80
25%     3,386.75       3.00       0.00      -0.09               -0.08
50%     6,773.50       7.00       0.02      -0.01               -0.01
75%    10,160.25      11.00       0.03       0.01                0.01
max    13,547.00      14.00       0.14       0.06                0.09

#### Accessing single or multiple elements

Generally there are two way to access data in a dataframe: via the names of the columns and via the index position with the `.iloc[]` method (integer location).

*Remember: Access to list elements via indices or slices* 
```python 
list1 = [1,2,3,4]
list1[0] # accesses 1 (python is zero-indexed)
list1[1:3] # accesses [2,3] (the end of the slice is excluded from the result)
list1[0:3] # accesses [1,2,3] (identical to [:3])
```

In [89]:
print("--original dataframe--")
print(df)

print("\n--whole column Price--")
print(df["Price"]) # Access the columns via the column name
print(df.Price) # For names without a space you can also acces the columns this way
print("Note that the type of the df is", type(df), "but the type of the column is", type(df["Price"]))
print("\n--index 2 at column Price--")
print(df["Price"][2]) # Access an element via column- und indexname
print("Note that the type of the element is", type(df["Price"][2]))

print("\n--Article/Price subframe--")
target_columns = ["Article", "Price"]
print(df[target_columns]) # Access the columns a list of column_names
print("Note that the type of the element is", type(df[target_columns]))

print("\n--row at index 0--")
print(df.iloc[0])
print("Note that the type of the row is", type(df.iloc[0]))
print("\n--element at row index 0 and column index 1--")
print(df.iloc[0,2]) # Access elements with df.iloc['row', 'column']
print("Note that the type of the element is", type(df.iloc[0,2]))

--original dataframe--
  Article  Price  Availability
0   Apple   1.00          True
1    Pear   1.50         False
2   Melon   2.00         False
3   Lemon   3.00          True

--whole column Price--
0   1.00
1   1.50
2   2.00
3   3.00
Name: Price, dtype: float64
0   1.00
1   1.50
2   2.00
3   3.00
Name: Price, dtype: float64
Note that the type of the df is <class 'pandas.core.frame.DataFrame'> but the type of the column is <class 'pandas.core.series.Series'>

--index 2 at column Price--
2.0
Note that the type of the element is <class 'numpy.float64'>

--Article/Price subframe--
  Article  Price
0   Apple   1.00
1    Pear   1.50
2   Melon   2.00
3   Lemon   3.00
Note that the type of the element is <class 'pandas.core.frame.DataFrame'>

--row at index 0--
Article         Apple
Price            1.00
Availability     True
Name: 0, dtype: object
Note that the type of the row is <class 'pandas.core.series.Series'>

--element at row index 0 and column index 1--
True
Note that the type of the element is <class 'numpy.bool_'>

#### Extending Dataframes

We already know how to construct a new series. Adding it to our existing dataframe works the same way as adding a new key-value pair to dictionary with a new name and the associated values for each entry. The length of the list of new values has therefore to be equal to the length of the dataframe.

In [90]:
df["In Stock"] = [10, 0, 0, 13]
print(df)
# df["In Stock"] = [10, 11, 12, 13, 14, 15, 16] would throw an error as it contains more values than the length of the dataframe

  Article  Price  Availability  In Stock
0   Apple   1.00          True        10
1    Pear   1.50         False         0
2   Melon   2.00         False         0
3   Lemon   3.00          True        13

#### Dealing with missing values

With real-word data you will often encounter missing values in a dataset, where a measurement was not available or an operation could not be executed, like converting strings to numerical values, calculations resulting in near infinite numbers or dividing by 0. In this event you will find `NaN`s(Not a Number) in your dataframe. These can be handeled in different ways. You can either drop any column or row containing NaNs with the `.dropna()` method or fill Nans with `.fillna()`. dropna() requieres and the additional argument `axis`, which decides if the column(axis=0) or the row(axis=1) with NaNs will be dropped. When .fillna() you will need to specify the value which will replace NaNs.

In [91]:
print("df with NaN")
df["Calories"] = [89, np.nan, 120, 101]
print(df, end="\n\n")

print("df with dropped rows")
df_without_nan_rows = df.dropna(axis=0)
print(df_without_nan_rows, end="\n\n")

print("df with dropped columns")
df_without_nan_columns = df.dropna(axis=1)
print(df_without_nan_columns, end="\n\n")

print("df with filled NaN")
df_with_filled_nan = df.fillna(0)
print(df_with_filled_nan)

# Note that most dataframe operations won't affect the original dataframe, that they are applied on.
# So keep the effect, they have to be saved to a new variable or overwrite an old one

df with NaN
  Article  Price  Availability  In Stock  Calories
0   Apple   1.00          True        10     89.00
1    Pear   1.50         False         0       NaN
2   Melon   2.00         False         0    120.00
3   Lemon   3.00          True        13    101.00

df with dropped rows
  Article  Price  Availability  In Stock  Calories
0   Apple   1.00          True        10     89.00
2   Melon   2.00         False         0    120.00
3   Lemon   3.00          True        13    101.00

df with dropped columns
  Article  Price  Availability  In Stock
0   Apple   1.00          True        10
1    Pear   1.50         False         0
2   Melon   2.00         False         0
3   Lemon   3.00          True        13

df with filled NaN
  Article  Price  Availability  In Stock  Calories
0   Apple   1.00          True        10     89.00
1    Pear   1.50         False         0      0.00
2   Melon   2.00         False         0    120.00
3   Lemon   3.00          True        13    101.00

### Data Manipulation

You can directly do calculations on all elements of a dataframe. Assume there was a 5% tax on fruits.

In [92]:
df["Price_with_Tax"] = df["Price"]*1.05
print(df)

  Article  Price  Availability  In Stock  Calories  Price_with_Tax
0   Apple   1.00          True        10     89.00            1.05
1    Pear   1.50         False         0       NaN            1.58
2   Melon   2.00         False         0    120.00            2.10
3   Lemon   3.00          True        13    101.00            3.15

You can apply the `.map()`method to change occurences of certain values to another one, which might be more descriptive in your opinion.

In [93]:
print(df["Availability"])
mapping_dict = {False: "No", True: "Yes"}
print(df["Availability"].map(mapping_dict)) # Maps occurences of False to "No" and occurences of True to "Yes"

print(df["Article"])
print(df["Article"].map({"Apple": "Apfel", "Melon": "Melone"})) # Missing mappings become NaNs

0     True
1    False
2    False
3     True
Name: Availability, dtype: bool
0    Yes
1     No
2     No
3    Yes
Name: Availability, dtype: object
0    Apple
1     Pear
2    Melon
3    Lemon
Name: Article, dtype: object
0     Apfel
1       NaN
2    Melone
3       NaN
Name: Article, dtype: object

#### Data Analysis

Sums, Mean, Standard Deviation and Variance are also easily availabe for dataframes and series. For Dataframes the axis can be specified to calculate along a row or the column.

In [94]:
print(df)
print("Sum: ", df["Price"].sum())
print("Mean: ", df["Price"].mean())
print("Std: ", df["Price"].std())
print("Var: ", df["Price"].var())

  Article  Price  Availability  In Stock  Calories  Price_with_Tax
0   Apple   1.00          True        10     89.00            1.05
1    Pear   1.50         False         0       NaN            1.58
2   Melon   2.00         False         0    120.00            2.10
3   Lemon   3.00          True        13    101.00            3.15
Sum:  7.5
Mean:  1.875
Std:  0.8539125638299665
Var:  0.7291666666666666

### Data Filtering

Dataframes support `boolean indexing`, which means that you choose which rows to select with a list of boolean values.
Also lists with boolean values can be obtained by checking, if a series fulfills a condition.
By combining these two properties we can effectively filter our data by our chosen conditions.

Conditions can be combined with the and-operator `&`, the or-operator `|` and the not-operator `~` or simply the commands `and`, `or` and `not` themselves to form more complex conditions.

Here we get the boolean array, where the price is grater than two, and then get the entries, which fulfill the condition. We only show relevant columns for each result.

We also try another condition, where we only want to see articles, whose name contain an 'on'.

The last example executes a complex filter in one go.

In [95]:
# Original
print(df[["Article", "Price", "Calories", "Availability"]], end="\n\n")

# Filtered with simple boolean array
print("Greater two?")
boolean_array = (df.Price > 2)
print(boolean_array)
filtered_df = df[boolean_array]
print(filtered_df[["Article", "Price"]], end="\n\n")

# String condition, article name must contain 'on'
print("Name with 'on'?")
print(df[df.Article.str.contains("on")].Article, end="\n\n")

# Filtered with complex condition
# Only access cheap articles or with a lot of calories, which are not unavailable
print("Complex requirement fullfilled?")
print(df[((df.Price <= 2.0) | (df.Calories >= 100)) & ~(df.Availability == False)][["Article", "Price", "Calories", "Availability"]])

  Article  Price  Calories  Availability
0   Apple   1.00     89.00          True
1    Pear   1.50       NaN         False
2   Melon   2.00    120.00         False
3   Lemon   3.00    101.00          True

Greater two?
0    False
1    False
2    False
3     True
Name: Price, dtype: bool
  Article  Price
3   Lemon   3.00

Name with 'on'?
2    Melon
3    Lemon
Name: Article, dtype: object

Complex requirement fullfilled?
  Article  Price  Calories  Availability
0   Apple   1.00     89.00          True
3   Lemon   3.00    101.00          True

### Data Aggregation

The last functionality we'll have a look at today is data aggregation. This is done via the `groupby()` function, which takes a column name or a list of column names as argument and returns an object, where all entries with the same value in the given column are summarized into one entry. This object by itself can't be easily printed, as it's a higher dimensional object, but we can combine it with an aggregation function, like `.first(), .last(), .mean(), .median(), .min(), .max(), sum(), .std(), .var()` or a custom function(for more see [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)), to e.g. get the first value/mean/minimal/maximal value of each of the possible values of the column that you grouped by. The higher dimensional object collapses to a simple 2D representation again.

This is the most advanced function, that we'll have a look at today, so let's have a look what happens here.

We'll return to the `molecule_df`, which contained molecular and atomic properties, and aggregate it by the molecular index at first the access the molecular property `energies`.

Also we can check how much the `charges` of each atom index vary in the dataset.

In [96]:
molecule_aggregate = molecule_df.groupby("mol_idxs")
molecule_energies = molecule_aggregate["energies"].first()
print("Type of the aggregate:", type(molecule_aggregate))
print("Type of the aggreagete after aggregation_function application", type(molecule_energies))
print("Length of the molecular energies:", len(molecule_energies))
print("Unique molecule idxs:", molecule_df["mol_idxs"].nunique())
print(molecule_energies.head())

atom_aggregate = molecule_df.groupby("at_idxs")
charge_variance = atom_aggregate["charges"].var()

pd.options.display.float_format = '{:,.2f}'.format
print(charge_variance*100)

Type of the aggregate: <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
Type of the aggreagete after aggregation_function application <class 'pandas.core.series.Series'>
Length of the molecular energies: 13548
Unique molecule idxs: 13548
mol_idxs
0   0.14
1   0.13
2   0.12
3   0.12
4   0.11
Name: energies, dtype: float64
at_idxs
0    0.03
1    5.50
2    0.02
3    0.03
4    0.03
5    0.03
6    5.70
7    0.03
8    0.03
9    0.03
10   0.03
11   5.50
12   0.03
13   0.02
14   0.02
Name: charges, dtype: float64

Als letztes soll der Dataframe gespeichert werden. Dies kann u.a. als Text, als csv oder als Excel-Tabelle geschehen.

In [97]:
# Carful! Only execute, if you don't have any important data with the same name lying around
path = "test_tabelle.csv" 
df.to_csv(path, sep=";", index=False) # sep delimites with semicolon, index=false drops the index-column
df_reloaded = pd.read_csv(path, sep=";")
print(df_reloaded)

# Lösche die Tabelle wieder
import os
os.remove(path)

  Article  Price  Availability  In Stock  Calories  Price_with_Tax
0   Apple   1.00          True        10     89.00            1.05
1    Pear   1.50         False         0       NaN            1.58
2   Melon   2.00         False         0    120.00            2.10
3   Lemon   3.00          True        13    101.00            3.15

**That's it**

Thanks for participating in the Pandas crash course. There are countless further function, especially in combination with numpy, to execute complicated calculatiions and transformations in a few lines of code. Once you have your data in a readable format, is can be quickly analyzed descriptively. Together with matplotlib a well formatted and visually pleasing depiction is also easily createable automatically.

Once the script is done, adjustments for small format changes for multiple data sets are quickly and consistently done without frustration to have to go to all formatting details again. Transfer to other data sets is as easy as changing the path variable.

Don't forget that Pandas is a popular library and well documented, so if you run in any problems, they are likely to be well described somewhere.

**Your turn**

If you want to try to apply your acquired knowledge: Try your hand at the pandas exercises in the second notebook.