Willkommen zum Tutorial für Pandas. Nach diesem Tutorial werdet ihr sicherer im Umgang mit Daten in Python sein, sämtliche Machine Learning Algorithmen einfacher anwenden können und kaum noch Excel Tabellen benötigen.

Es geht direkt los: Ein DataFrame ist ein Objekt mit Zeilen und Spalten und Daten. Im Gegensatz zum zweiten häufig verwendeten Datentyp, dem Numpy-Array, können die Tabellen in Pandas eher als Excel-Tabelle, als als Matrix angesehen werden. 
Wir erstellen zwei Listen mit Daten und daraus ein DataFrame mit Bezeichnungen:

In [5]:
import pandas as pd # Konvention: Immer als "pd" importieren
df = pd.DataFrame([ [1, 2, 3], [4, 5, 6], [7, 8, 9] ])
print(df) # im default werden Datenlisten als Zeilenvektoren interpretiert

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
df = pd.DataFrame({ 
    "Ware": ["Apfel", "Birne", "Melone", "Zitrone"],
    "Preis": [1, 1.5, 2, 3]
})
print(df) # Eine Möglichkeit, die Datenlisten spaltenweise zu interpretieren ist via Dictionary

      Ware  Preis
0    Apfel    1.0
1    Birne    1.5
2   Melone    2.0
3  Zitrone    3.0

In [8]:
df = pd.DataFrame({ 
    "Ware": ["Apfel", "Birne", "Melone", "Zitrone"],
    "Preis": [1, 1.5, 2, 3]
},
index=["erste", "zweite", "dritte", "vierte"])
print(df) # Spaltennamen (Ware, Preis) und Indexnamen können bestimmt werden, müssen aber nicht. Im Zweifel wird von 0 beginnend durchgezählt (s.o.)

           Ware  Preis
erste     Apfel    1.0
zweite    Birne    1.5
dritte   Melone    2.0
vierte  Zitrone    3.0

Zugriffe auf einzelne oder mehrere Elemente.

In [15]:
print(df["Preis"]) # Zugriff auf die Spalten via Spaltenname
print(df.iloc[:,1]) # oder mit integers durch 'iloc'. Dabei ist immer df.iloc['Spalten', 'Zeilen']. 
print(df.iloc[1:3, 1]) # gibt in den Spalten 1 und 2 (1:3) jeweils die Zeile 1 (Preis, da Ware den Index 0 hat)
print(df.iloc[:, :]) # sind alle Zeilen und alle Spalten. Ergo das gleiche, wie print(df)

erste     1.0
zweite    1.5
dritte    2.0
vierte    3.0
Name: Preis, dtype: float64
erste     1.0
zweite    1.5
dritte    2.0
vierte    3.0
Name: Preis, dtype: float64
zweite    1.5
dritte    2.0
Name: Preis, dtype: float64
           Ware  Preis
erste     Apfel    1.0
zweite    Birne    1.5
dritte   Melone    2.0
vierte  Zitrone    3.0

Nun können wir mit den Spalten als eigenständige Datentypen arbeiten. Z.B. gibt es eine Steuer auf Obst in höhe von 5%.

In [17]:
df["Preis"] = df["Preis"]*1.05
print(df)

           Ware    Preis
erste     Apfel  1.10250
zweite    Birne  1.65375
dritte   Melone  2.20500
vierte  Zitrone  3.30750